{extend name="public/base"}
{block name='header'}{/block}
{block name="menu"}{/block}
{block name='seo'} 
<title>{$title}</title>
<meta name="keywords" content={$keywords}>
<meta name="description" content={$desc}>
</head>
<body>
{/block}
{block name="content"}
<article class="cl pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-grade">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value=""  placeholder="" id="class_name"  name="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">性别：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="sex" size="1">
					<option value="0" selected>男</option>
					<option value="1" >女</option>
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>年龄：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder=""  name="age">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机号码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder=""  name="mobile">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder=""  name="email">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>入学时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="date" class="input-text " placeholder="入职时间" name="start_time" id="hiredate" value="" >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">班级：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="grade_id" size="1">
					{volist name='gradeList' id='vo'}
					<option value="{$vo.id}" >{$vo.name}</option>
					{/volist}
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">状态：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="status" size="1">
					<option value="0">未启用</option>
					<option value="1">启用</option>
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" id='submit' type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

{/block}
{block name="js"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
	$(function(){
		//检查班级名是否有重复
		$('#class_name').blur(function(){
			$.post(
				'{:url("admin/student/checkName")}',
				{name:$(this).val()},
				function(data){
					if(data.status==1){
						alert(data.message);
					}else{
						alert(data.message);
					}
				})
		})
		//提交班级名单
		$('#submit').click(function(){
			$.ajax({
				type:'post',
				url:'{:url("admin/student/studentAdd")}',
				data:$('#form-grade').serialize(),
				success:function(data){
					if(data.status==1){
						alert(data.message);
					}else{
						alert(data.message);
					}
				}
			})
			return false;
		})
	})
	
</script>
{/block}
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>