
<!--_header 作为公共模版分离出去-->
<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs" href="{:url('admin/index/index')}">教学管理后台</a>
			<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
			<ul class="cl">
				<li>{:session('user_info.role')==1?'超级管理员':'管理员';}</li>
				<li class="dropDown dropDown_hover">
				 <a href="#" class="dropDown_A">{:session('user_info.name')}<i class="Hui-iconfont">&#xe6d5;</i></a>
					<ul class="dropDown-menu menu radius box-shadow">
						<li><a href="{:url('admin/user/logout')}">退出</a></li>
					</ul>
				</li>
						
			</ul>
		</nav>
	</div>
</div>
</header>
<!--/_header 作为公共模版分离出去-->
