{extend name="public/base"}
{block name='header'}{/block}
{block name="menu"}{/block}
{block name='seo'}
<title>{$title}</title>
<meta name="keywords" content={$keywords}>
<meta name="description" content={$desc}>
</head>
<body>
{/block}
{block name="content"}
<article class="cl pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-teacher">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$list.name}"  placeholder="" id="class_name"  name="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">学历：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="degree" size="1">
					<option value="1" {$list.degree=='专科'?"selected":'';}>专科</option>
					<option value="2" {$list.degree=='本科'?"selected":'';}>本科</option>
					<option value="3" {$list.degree=='研究生'?"selected":'';}>研究生</option>
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>毕业学校：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$list.school}" placeholder=""  name="school">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机号码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$list.mobile}" placeholder=""  name="mobile">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>入职时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="date" class="input-text " placeholder="入职时间" name="hiredate" id="hiredate" value="{$list.hiredate}" >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">负责班级：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="grade_id" size="1">
					<option value="0" {$list.grade_id=='0'?"selected":'';}>不分配</option>
					{volist name='gradeList' id='vo'}
					<option value="{$vo.id}" {$list.grade_id==$vo.id?"selected":'';} >{$vo.name}</option>
					{/volist}

				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">状态：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="status" size="1">
					<option value="0" {$list.status=='未启用'?"selected":'';}>未启用</option>
					<option value="1" {$list.status=='已启用'?"selected":'';}>已启用</option>
				</select>
				</span> </div>
		</div>
		<input type="hidden" value='{$list.id}' name="id">
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius disabled" id='submit' type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

{/block}
{block name="js"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
	$(function(){
		$('#form-teacher').children().change(function(){
			$('#submit').removeClass('disabled');
		})
		
		//提交班级名单
		$('#submit').click(function(){
			$.ajax({
				type:'post',
				url:'{:url("admin/teacher/doEdit")}',
				data:$('#form-teacher').serialize(),
				success:function(data){
					if(data.status==1){
						alert(data.message);
					}else{
						alert(data.message);
					}
				}
			})
			return false;
		})
	})
	
</script>
{/block}
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>